<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ver" value="2.0"/><!-- Версия файла конфигурации -->
    <add key="Host" value="***.moex.com"/><!-- Адрес POP3 сервера -->
    <add key="Port" value="110"/><!-- Порт на сервере (обычно 110) -->
    <add key="Ssl" value="0"/><!-- 0: не использовать SSL, 1: использовать -->
    <add key="User" value="user"/><!-- Логин -->
    <add key="Pass" value="****"/><!-- Пароль -->
    <add key="Src" value="EML"/><!-- Папка для складирования загруженных текстов email -->
    <add key="Bak" value="EML\BAK\{%Now%:yyyy}"/><!-- Папка для складирования уже удаленных сервером текстов email -->
    <add key="Dst" value="IN"/><!-- Папка для выходящих файлов вложений -->
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.net>
    <mailSettings>
      <!-- С какого адреса рассылка, метод отправки, SMTP сервер, авторизация -->
      <smtp from="robot@bank.ru" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="mails\{%App%}"/>
      </smtp>
      <!--
      <smtp from="robot@bank.ru" 
            deliveryMethod="Network">
        <network defaultCredentials="false"
            host="127.0.0.1" 
            port="25" 
            userName="robot@bank.ru" 
            password="****" 
            enableSsl="true"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="Pop3cli" switchName="levelSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <add name="eMail"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- (Switch level: Off, Error, Warning, Information, Verbose, All) -->
      <add name="levelSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <!-- (Console initializeData: true-stdErr, false-stdOut //currently ignored) -->
      <add name="console" type="Lib.AppConsoleListener, Pop3cli" initializeData="false" format="{%Now%:HH:mm:ss} ">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="logFile" type="Lib.AppLogFileListener, Pop3cli" 
           initializeData="logs\{%Now%:yyyy}\{%Now%:yyyyMM}\{%Now%:yyyyMMdd}_{%App%}.log"
           format="{%Now%:dd.MM.yyyy HH:mm:ss} {%Lvl%, -1} "
           verbose="." 
           information="" 
           warning="?" 
           error="!">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="eMail" type="Lib.AppEMailListener, Pop3cli" initializeData="admin@bank.ru">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceLog" /> -->
      <!-- <add name="Diagnostics" type="System.Diagnostics.TextWriterTraceListener" initializeData="Diagnostics.log"/> -->
      <!-- (Console initializeData: true-stdErr, false-stdOut) -->
      <!-- <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/> -->
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
